* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    height: 200rem;
    /* padding-top: 4.0625rem; */
    font-family: "Lexend_Deca", sans-serif;
}

@font-face {
    font-family: "Lexend_Deca";
    src: url(../fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf);
    font-weight: normal;
    font-size: normal;
}

#intro {
    height: 56.25rem;
    width: 100%;
    background-image: url(../images/homepage/01.webp);
    background-repeat: no-repeat;
    position: relative;
}

#intro a {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 6.25rem;
    margin-right: 6.25rem;
    color: white;
    text-decoration: none;
    padding: 1.25rem 1.875rem;
    background-color: #3878d6;
    /* border-radius: 0.625rem; */
}

#intro a:hover {
    background-color: #1854af;
}

#chose-car {
    margin-top: 3.125rem;
    text-align: center;
}

.tabs, .sub-tabs {
    display: flex;
    justify-content: center;
    margin: 1.25rem 0;
}
.tabs button, .sub-tabs button {
    padding: 0.625rem 1.25rem;
    border: 0.0625rem solid #ccc;
    background: white;
    cursor: pointer;
    font-size: 1rem;
}
.tabs button.active, .sub-tabs button.active {
    background: black;
    color: white;
}

.car-list {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    flex-wrap: wrap;
    margin-top: 1.25rem;
}

.car-item {
    width: 18.75rem;
    text-align: left;
}
.car-item img {
    width: 100%;
    height: auto;
}

.utilities {
    background-color: #f6f6f6;
    text-align: center;
    margin-top: 3.125rem;
    padding-top: 1.875rem;
    padding-bottom: 1.25rem;
}

.utilities-list {
    display: flex;
    justify-content: center;
}

.extend-item button {
    padding: 0.625rem 1.25rem;
    margin-top: 1.25rem;
    cursor: pointer;
    /* border-radius: 0.625rem; */
    /* border: none; */
}

.slide-3 {
    margin-top: 1.875rem;
    width: 100%;
    height: 31.25rem;
    background-image: url(../images/homepage/02.webp);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.slide-3 a {
    text-decoration: none;
    margin-top: 1.875rem;
    padding: 0.625rem 1.875rem;
    border: 0.0625rem solid white;
    color: white;
}

.slide-3 a:hover {
    background-color: white;
    color: black;
}

.slide-4 {
    margin-top: 1.875rem;
    margin-left: 1.875rem;   
    display: flex;
    align-items: center;
}

.slide-4 #right {
    margin-left: 1.875rem;
}

#right a {
    padding: 0.625rem 3.125rem;
    border: 0.0625rem solid black;
    text-decoration: none;
    color: black;
}

#right a:hover {
    color: white;
    background-color: black;
}
